<div class="container">
    <div class="banner">
        <div class="banner3">
            <p class="banner3" style="padding-right: 20px;"> Acompanhe:</p>
            <mat-icon>facebook</mat-icon>
        </div>
        <p class="banner">Banco Tec S.A. | CNPJ: 01.234.567/0001-02 <br>
            Rua Marechal Deodoro 1.500 - Curitiba/PR - Brasil. CEP: 81.123-000
        </p>
    </div>
    <div class="grid-container">
        <p class="banner2">Sobre o BT</p>
        <p class="banner2">BT Imprensa</p>
        <p class="banner2">Trabalhe Conosco</p>
        <p class="banner2">Segurança</p>
        <p class="banner2">Sustentabilidade</p>
    </div>
</div>