<div class="container">
    <div class="banner">
        <div class="banner3">
            <p class="banner3" style="padding-right: 20px;"> Acompanhe:</p>
            <mat-icon>facebook</mat-icon>
            
        </div>
        <p class="banner">Banco Tec S.A. | CNPJ: 0.000.0000/00 <br>
            Rua Marechal Deodoro 0000 -- Curitiba, PR. Cep: 00000-000
        </p>
    </div>
    
    <div class="banner2">
        <p class="banner2">Sobre o BT</p>
        <p class="banner2"> | </p>
        <p class="banner2">BT Imprensa</p>
        <p class="banner2"> | </p>
        <p class="banner2">Trabalhe Conosco</p>
        <p class="banner2"> | </p>
        <p class="banner2">Segurança</p>
        <p class="banner2"> | </p>
        <p class="banner2">Sustentabilidade</p>
    </div>
</div>