<div class="container">
    <div class="banner">
      <h1 class="banner">B@nco Tec</h1>
      <p class="banner">Você</p>
      <p class="banner">Empresa</p>
      <p class="banner">Abrir Conta</p>
      <p class="banner"><a class = "banner" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Acessar sua Conta</a></p>
      <form action="/" method="GET" class="form">
        <input type="search" placeholder="Busca..." class="search-field" />
        <button type="submit" class="search-button">
         <img src="../../assets/search.png">
        </button>
      </form> 
    </div>
  <div class="banner2">
    <p>Investimentos</p>
    <p>Empréstimos</p>
    <p>Consórcios</p>
    <p>Previdência</p>
    <p>Seguros</p>
    <p>Fale conosco</p>
  </div>
</div>
