input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.banner {
  display: grid;
  color: white;
  background: #4a69bd;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: bold;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container-movimentos {
  display: grid;
  text-decoration: none;
}

p.container-movimentos {
  padding-left: 30px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

input.movimentos[type="number"] {
  background-color: white;
  margin-left: 30px;
  padding: 10px;
  border: 1px solid #4a69bd;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
}

#button-add {
  width: 210px;
  background-color: #00fa9a;
  color: white;
  font-weight: bold;
  padding: 8px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

  #button-remove {
    width: 210px;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 8px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
  }

  table.movimentos {
    margin-top: 20px;
    margin-left: 30px;
    width: 55%;
    text-align: center;
    background-color: rgb(231, 236, 238);
    border: 1px solid #4a69bd;
  }

  table, th, td {
    border: 1px;
    border-collapse: collapse;
    padding-top: 8px; 
    font-family: Arial, Helvetica, sans-serif;
  }

  tr:hover {background-color: #b3defc;}
 /*  tr:nth-child(even) {background-color: #f2f2f2;} */

  th {
    background-color: #4a69bd;
    color: white;
  }
  