<div class="banner">
  <h1>Lista de Movimentos</h1>
</div>
<div class="container-movimentos">
  <p class="container-movimentos"> Olá, {{clientName}}!</p>
  <p class="container-movimentos"> Saldo: € {{saldo.toFixed(2)}}</p>
  <div class = "movimentos">
    <input class = "movimentos" type="number" placeholder="Insira o valor(€)" aria-describedby="button-addon2"[(ngModel)]="novoValor">
    <button class = "movimentos" type="submit" id="button-add" (click)="saveMovimento(); calcSaldo()"> Depositar</button>
    <button class = "movimentos" type="submit" id="button-remove" (click)="saveMovimento('debito'); calcSaldo()"> Retirar</button>
  </div>
  <table mat-table [dataSource]="dataSource" class = "movimentos">
    <ng-container matColumnDef=" ">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let movimento"> {{movimento.index}} </td>
    </ng-container>
    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef>Data</th>
      <td mat-cell *matCellDef="let movimento"> {{movimento.data}} </td>
    </ng-container>
    <ng-container matColumnDef="hora">
      <th mat-header-cell *matHeaderCellDef>Hora</th>
      <td mat-cell *matCellDef="let movimento"> {{movimento.hora}} </td>
    </ng-container>
    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef>Valor</th>
      <td mat-cell *matCellDef="let movimento"> {{movimento.valor}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <a routerLink="/conta/:clientName" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="logout()">Log off</a>
</div>




