<div class="container">
    <div class="banner">
      <h1 class="banner">B@nco Tec</h1>
      <p class="banner" id="voce">Você</p>
      <p class="banner">Empresa</p>
      <form action="/" method="GET" class="form">
        <input type="search" placeholder="Busca..." class="search-field" />
        <button type="submit" class="search-button">
          <img src="../../assets/search.png">
        </button>
      </form>
      <p class="banner">Abrir Conta</p>
      <p class="banner">Acessar sua Conta</p>
    </div>
  </div>
