.container {
    display: grid;
    -webkit-text-stroke: 0.5px #fff;
    grid-auto-rows: minmax(60px, auto);
    color: rgb(0, 72, 136);
    background: url('../../../assets/cartaodecredito.jpeg') no-repeat center center fixed; 
    background-size: cover;
    height: 480px;
}
.banner {
    margin: 0;
    padding: 35px 50px 50px 50px;
    grid-template-rows: repeat(3, 1fr);
    grid-row: 1/2;
}
h1.banner {
    padding-bottom: 0;
}
.banner2 {
    margin: 0;
    padding-left: 50px;
    padding-bottom: 60px;
    /* -webkit-text-stroke: 0.25px #000000; */
    color: #ffffff;
    font-size: 14pt;
    grid-row: 2/2;
}